h1 {
  font-size: 2em;
}

.buttons-space {
  width: 10px;
}

.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}

#deleteButton {
  float: right;
}

#addOpenQuestionButton{
  margin-top: 1em;
}

#showCandidateTests{
  margin-top: 1em;
  margin-left: 1em;
  max-width: 50%;
}

.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.hello-username{
  color: white;
  margin-right: 1em;
  margin-top: 14px;
  text-align: center;
}

.formQuestions{
  margin-top: 1em;
}